In [2]:
import pandas as pd

In [3]:
clients_df = pd.read_csv("clients.csv")
attorneys_df = pd.read_csv("attorneys.csv")
categories_df = pd.read_csv("categories.csv")
questions_df = pd.read_csv("questions.csv")

In [4]:
clients_df.head()

,Id,StateAbbr,ClientUno,County,StateName,PostalCode,EthnicIdentity,Age,Gender,MaritalStatus,Veteran,Imprisoned,NumberInHousehold,AnnualIncome,AllowedIncome,CheckingBalance,SavingsBalance,InvestmentsBalance,CreatedUtc
0,1,MS,B731DA7A-A97A-4A2E-BF11-0A126A05AF70,Washington,Mississippi,73179.0,NaN,NaN,NaN,NaN,NaN,No,3.0,26000.0,37190.0,300.0,NaN,NaN,2016-08-25 15:15:37
1,2,MS,8101DB7C-0CC8-4DE9-9E87-71137269AAD5,Harrison,Mississippi,39560.0,Caucasian,NaN,Male,Divorced or Widowed,NaN,No,2.0,52.0,25390.0,1.0,1.0,NaN,2016-08-26 00:55:17
2,3,GA,DD5F1EFC-8298-457F-BC09-CABBEB57A697,Barrow,Georgia,30157.0,Latino or Hispanic,55.0,Male,Single,NaN,No,5.0,3000.0,60790.0,NaN,NaN,NaN,2016-10-12 14:37:06
3,4,TX,21DC9E3D-D0AA-4B85-88BB-428F5BCF7F13,Lubbock,Texas,79416.0,Other,61.0,Female,Married / remarried,No,No,4.0,15600.0,48990.0,100.0,NaN,NaN,2017-01-01 19:57:07
4,5,ID,3782D4F9-9B16-4BC8-ADA3-F85CEE200630,Boise,Idaho,83705.0,Caucasian,65.0,Male,Single,No,No,1.0,15000.0,13590.0,580.0,25.0,NaN,2017-02-23 00:03:27

In [5]:
attorneys_df.head()

,Id,StateAbbr,AttorneyUno,City,County,StateName,PostalCode,CreatedUtc
0,1,NH,7A2C12BE-9F37-4C9D-A6ED-41B916820CE0,Concord,Cheshire,New Hampshire,3301,2019-02-14 16:21:52
1,2,NH,29A49AA6-047E-4008-ABBD-3DE57156B526,Concord,Merrimack,New Hampshire,3229,2019-02-14 18:14:30
2,3,MS,9DF11B65-7F29-452C-A69E-54CD72E4A116,Jackson,Rankin,Mississippi,39203,2016-08-19 17:07:23
3,4,VA,693FD55F-5F58-405A-B389-5E78B3406497,Richmond,Richmond (city),Virginia,23219,2016-08-19 18:22:53
4,5,CT,0AC2A866-19CD-4D1A-94B7-BF41A1430553,Wethersfield,Hartford,Connecticut,6410,2016-08-21 01:21:13

In [6]:
categories_df["Category"].unique()

array(['Consumer Financial Questions', 'Education',
       'Work, Employment and Unemployment', 'Family and Children',
       'Health and Disability', 'Juvenile', 'Housing and Homelessness',
       'Income Maintenance', 'Individual Rights', 'Other'], dtype=object)

In [7]:
questions_df.head()
questions_df.rename(columns = {'AskedByClientUno':'ClientUno'}, inplace = True)
questions_df.rename(columns = {'TakenByAttorneyUno':'AttorneyUno'}, inplace = True)
questions_df.head()

,Id,StateAbbr,QuestionUno,CategoryUno,Category,SubcategoryUno,Subcategory,ClientUno,AskedOnUtc,AttorneyUno,TakenOnUtc,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline
0,1,NC,BB53B2A4-7C1B-45C3-9693-62047889317D,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,9C35423C-914A-42BC-8EBC-A370E76E2178,2019-06-19 22:10:06,NaN,NaN,NaN,2019-08-13 15:09:06,2019-07-08 00:00:00
1,2,NC,0C49F841-2782-4313-961E-7882B96D0854,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:34:36,NaN,NaN,NaN,2019-08-13 15:09:14,NaN
2,3,NC,BFC28E08-B6B1-4185-A91A-89DF90816BE4,C8E1275A-6C42-42E4-9B7D-231BAC438FC9,Individual Rights,73A59926-BA0B-44EC-ABF3-F4C9181EEA83,Civil/Constitutional Rights,DF636AEE-7D08-4F90-9A5C-0A2A726C6B59,2019-06-19 23:57:18,FA34142B-1575-4720-981C-2D28C3560137,2019-06-22 02:37:16,FA34142B-1575-4720-981C-2D28C3560137,2019-06-24 19:02:35,NaN
3,4,NC,45B24109-243A-489B-B0D2-2F36C2A369FE,C932D197-7F43-4BCF-BE0B-FE5F5DBCB9EF,Family and Children,E9F87919-0CD5-4D9D-AAC6-3CBC49132F1D,Family/Divorce/Custody/Visitation/Child Support,C9C3FA40-0D60-49B9-97F1-63AFEFAFA484,2019-06-20 02:33:14,FA34142B-1575-4720-981C-2D28C3560137,2019-07-27 18:04:08,FA34142B-1575-4720-981C-2D28C3560137,2019-07-31 05:49:18,NaN
4,5,NC,C4707F71-FE4A-4154-8174-AF00BEE2B361,F6016FBD-9501-4448-BCD3-BBB0E834E33B,Consumer Financial Questions,73FE486E-2B51-456A-A6D9-78A7D05802AA,"Bankruptcy, Debts & Purchases",ED7DEA10-CDB7-4A05-891D-889D1EA710BE,2019-06-20 17:04:47,NaN,NaN,NaN,2019-08-13 15:09:20,NaN

In [8]:
attorneyTimeEntries_df = pd.read_csv("attorneytimeentries.csv")
cols_keep = ["AttorneyUno", "Hours"]
attorneyTimeEntries_df = attorneyTimeEntries_df[cols_keep]
attorneyTimeEntries_df.head()

                            AttorneyUno  Hours
0  C126C566-9039-4991-BDD8-0CDD05C27DDF    1.8
1  F8C0E3D3-B3A5-42B9-9E2F-2A637BA83D6E    0.4
2  34BFCC3D-B107-4164-B405-DEFF63A65B2D    0.4
3  875DB0F4-619B-4A13-8104-85A3C15D90C4    0.8
4  22746734-D076-4AC8-BA66-50426C01093C    3.0

In [9]:
merged = pd.merge(clients_df, questions_df, 
                   on='ClientUno', 
                   how='inner')
merged.head()

,Id_x,StateAbbr_x,ClientUno,County,StateName,PostalCode,EthnicIdentity,Age,Gender,MaritalStatus,...,CategoryUno,Category,SubcategoryUno,Subcategory,AskedOnUtc,AttorneyUno,TakenOnUtc,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline
0,3,GA,DD5F1EFC-8298-457F-BC09-CABBEB57A697,Barrow,Georgia,30157.0,Latino or Hispanic,55.0,Male,Single,...,D15ACC4B-910D-4B26-BA2D-40880D42BD0D,Other,E966BD76-8DC1-4292-83EA-BA28BF010927,Disaster Legal Help,2016-10-12 14:43:26,NaN,NaN,NaN,2017-01-03 20:33:29,NaN
1,5,ID,3782D4F9-9B16-4BC8-ADA3-F85CEE200630,Boise,Idaho,83705.0,Caucasian,65.0,Male,Single,...,A1FB3C8A-2622-43BC-8A23-25FFA06B0E60,Other,D72E18A3-2240-4D8A-AD5F-0B4141731FAA,Other,2017-02-23 00:17:06,NaN,NaN,NaN,NaN,NaN
2,6,CT,F8C0C4C9-0555-4BAF-9324-B2A8DF4E7DF6,New Haven,Connecticut,6511.0,African American,NaN,Female,Single,...,EE081096-2C46-4EA3-B7B1-7388963334E4,Other,110B2BC5-5B0B-4EBD-A689-B55DA5A36363,Criminal,2016-08-29 20:35:03,NaN,NaN,NaN,2016-08-31 13:39:41,NaN
3,17,MS,E7952D74-AA6D-4B20-BED0-60B8F973EA30,Yalobusha,Mississippi,38965.0,Caucasian,NaN,Female,Married / remarried,...,772EC297-5D6F-469A-9F0E-4850311E14DA,Family and Children,471122D1-919D-48C2-A020-3F31EEFB1436,Family/Divorce/Custody,2016-09-01 15:59:27,4AC3D426-AD99-4623-BF48-D0A921A9EB03,2016-09-28 20:08:24,NaN,2016-10-08 21:25:20,NaN
4,19,WY,30B143DC-CA59-4298-B4F5-06ADBE1B00B7,Laramie,Wyoming,82053.0,Caucasian,NaN,Female,Divorced or Widowed,...,B493CC26-B797-4A33-BEED-7C7146A3300A,Family and Children,7820FAD7-6BDF-47AD-88A2-2DB5C6C6FA70,Family/Divorce/Custody,2016-08-25 21:07:39,D292D199-16CE-4019-AAB5-3410C2DFEF92,2016-08-26 17:29:16,NaN,2016-09-05 17:42:10,NaN

In [10]:
merged.rename(columns = {'TakenByAttorneyUno':'AttorneyUno'}, inplace = True)

In [11]:
innerMerge = pd.merge(merged, attorneys_df, on='AttorneyUno', how='inner')
innerMerge.reset_index(drop=True)

,Id_x,StateAbbr_x,ClientUno,County_x,StateName_x,PostalCode_x,EthnicIdentity,Age,Gender,MaritalStatus,...,ClosedByAttorneyUno,ClosedOnUtc,LegalDeadline,Id,StateAbbr,City,County_y,StateName_y,PostalCode_y,CreatedUtc_y
0,17,MS,E7952D74-AA6D-4B20-BED0-60B8F973EA30,Yalobusha,Mississippi,38965.0,Caucasian,NaN,Female,Married / remarried,...,NaN,2016-10-08 21:25:20,NaN,246,MS,Jackson,Hinds,Mississippi,39215,2016-09-01 18:33:00
1,64,MS,3A83092D-A7D5-4AB6-8D70-AC634B8150D3,Harrison,Mississippi,39571.0,Caucasian,NaN,Male,Married / remarried,...,NaN,2016-10-15 14:45:12,NaN,246,MS,Jackson,Hinds,Mississippi,39215,2016-09-01 18:33:00
2,101023,MS,B6817ADF-91D2-4D9B-A0F0-B35571596329,Lafayette,Mississippi,38619.0,Not Hispanic or Latino,63.0,Male,Single,...,4AC3D426-AD99-4623-BF48-D0A921A9EB03,2021-11-07 15:56:56,2021-10-01 00:00:00,246,MS,Jackson,Hinds,Mississippi,39215,2016-09-01 18:33:00
3,101364,MS,47191FEF-CFEF-4C07-BB51-2991E4E80BAC,Lee,Mississippi,38801.0,Not Hispanic or Latino,20.0,Female,Single,...,4AC3D426-AD99-4623-BF48-D0A921A9EB03,2021-11-07 16:32:56,NaN,246,MS,Jackson,Hinds,Mississippi,39215,2016-09-01 18:33:00
4,101387,MS,F9E2AF48-0373-42CA-9C49-29F38BE9AD47,DeSoto,Mississippi,38611.0,Not Hispanic or Latino,65.0,Male,Married,...,4AC3D426-AD99-4623-BF48-D0A921A9EB03,2021-11-07 16:50:56,NaN,246,MS,Jackson,Hinds,Mississippi,39215,2016-09-01 18:33:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143979,331181,VA,1FCE93F3-0DFE-4B9D-860A-9296336A7394,Charlotte,Virginia,23937.0,Not Hispanic or Latino,72.0,Female,Married,...,2BD64F66-B14E-4119-9B2F-6B22D6BB98AC,2021-12-17 21:27:55,NaN,11539,VA,ALEXANDRIA,Alexandria city,Virginia,22314,2021-11-01 20:06:00
143980,331184,VA,896832C5-252D-4441-B97E-DBA35A606C6D,Virginia Beach city,Virginia,24541.0,Not Hispanic or Latino,44.0,Female,Single,...,2BD64F66-B14E-4119-9B2F-6B22D6BB98AC,2021-12-19 00:07:25,NaN,11539,VA,ALEXANDRIA,Alexandria city,Virginia,22314,2021-11-01 20:06:00
143981,331242,VA,562C0178-2D0A-4739-BF64-08EA888915A8,Hampton city,Virginia,23666.0,Not Hispanic or Latino,20.0,Female,Single,...,2BD64F66-B14E-4119-9B2F-6B22D6BB98AC,2021-12-28 03:45:47,NaN,11539,VA,ALEXANDRIA,Alexandria city,Virginia,22314,2021-11-01 20:06:00
143982,331281,VA,5FBC9F25-5B51-4165-B9D2-9AA64C3FC536,Norfolk city,Virginia,23513.0,Not Hispanic or Latino,30.0,Male,Single,...,2BD64F66-B14E-4119-9B2F-6B22D6BB98AC,2022-01-04 14:38:24,NaN,11539,VA,ALEXANDRIA,Alexandria city,Virginia,22314,2021-11-01 20:06:00
143983,331269,VA,0703B521-587C-4127-B37A-FDE8DE563897,Albemarle,Virginia,22939.0,Not Hispanic or Latino,28.0,Female,Married,...,FE8B3662-7C55-416A-B123-C3F9A9F3CAFA,2022-01-09 20:05:28,NaN,11543,VA,Richmond,Richmond city,Virginia,23225,2021-11-15 23:27:59

In [12]:
innerMerge["EthnicIdentity"].value_counts().head(10)

Caucasian                       64142
African American                15092
Not Hispanic or Latino           9645
Latino or Hispanic               9254
I'd rather not answer            8668
Other                            2671
Caucasian,Other                  2210
Asian                            2059
Caucasian,Latino or Hispanic     1508
Hispanic or Latino               1505
Name: EthnicIdentity, dtype: int64

In [13]:
innerMerge.head()
innerMerge.to_csv("questionsMatched.csv")

In [14]:
consumerFinancialQuestions = innerMerge[innerMerge.Category == "Consumer Financial Questions"]
cols_to_show = ["Category", "County_x", "StateName_x", "EthnicIdentity", "Age", "Gender", "MaritalStatus", "AnnualIncome", "NumberInHousehold"]
consumerFinancialQuestions = consumerFinancialQuestions[cols_to_show]

In [15]:
consumerFinancialQuestions['count'] = 1
consumerFinancialQuestions.head()
consumerFinancialQuestions.to_csv("consumerFinancialQuestions.csv")

In [16]:
consumerFinancialQuestions.groupby('EthnicIdentity').sum().sort_values(by = "count", ascending = False).head(10)

                                   Age  AnnualIncome  NumberInHousehold  count
EthnicIdentity
Caucasian                     257642.0  1.399253e+08            14028.0   5741
African American               59736.0  3.596599e+07             4214.0   1494
I'd rather not answer          35307.0  1.910442e+07             2295.0    825
Not Hispanic or Latino         35940.0  2.106863e+07             2095.0    811
Latino or Hispanic             30314.0  2.067070e+07             2428.0    786
Other                          10424.0  5.089043e+06              561.0    229
Asian                           8695.0  5.546434e+06              648.0    218
Caucasian,Other                 6686.0  3.788307e+06              465.0    156
Hispanic or Latino              4271.0  3.123053e+06              336.0    111
Caucasian,Latino or Hispanic    3712.0  2.487421e+06              267.0     99

In [40]:
# import matplotlib.pyplot as plt
# import numpy as np
# slices = np.array([5741/64142, 1491/15092, 825/8668, 811/9645, 786/9254, 229/2671 , 218/2058])
# mylabels = ["Caucasian", "African American", "I'd rather not answer", "Not Hispanic or Latino", "Latino or Hispanic", "Other", "Asian"]

In [41]:
# # Category: Consumer Financial Questions and Ethnic Identity distributions
# colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral', 'brown', 'orange', 'purple']
# patches, texts = plt.pie(slices, colors=colors, startangle=90)
# plt.legend(patches, mylabels, title = 'Ethnic Identity', loc="best")
# plt.axis('equal')
# plt.title("Category: Consumer Financial Questions (by Ethnic Identity)")
# plt.tight_layout()
# plt.show()

In [42]:
# Education Questions and Ethnic Identity distribution

In [20]:
educationQuestions = innerMerge[innerMerge.Category == "Education"]
cols_to_show = ["Category", "County_x", "StateName_x", "EthnicIdentity", "Age", "Gender", "MaritalStatus", "AnnualIncome", "NumberInHousehold"]
educationQuestions = educationQuestions[cols_to_show]
educationQuestions['count'] = 1
educationQuestions.head()
educationQuestions.to_csv("educationQuestions.csv")

In [21]:
educationQuestions.groupby('EthnicIdentity').sum().sort_values(by = "count", ascending = False).head(10)
educationQuestions.head()

,Category,County_x,StateName_x,EthnicIdentity,Age,Gender,MaritalStatus,AnnualIncome,NumberInHousehold,count
184,Education,Albany,Wyoming,Caucasian,29.0,Female,Single,0.0,1.0,1
194,Education,Campbell,Wyoming,Caucasian,27.0,Male,Single,40000.0,5.0,1
262,Education,Laramie,Wyoming,Latino or Hispanic,28.0,Female,Single,0.0,1.0,1
277,Education,Douglas,Kansas,Caucasian,51.0,Female,Divorced or Widowed,19200.0,3.0,1
343,Education,Franklin,Tennessee,NaN,NaN,NaN,NaN,NaN,NaN,1

In [22]:
# slices = np.array([194/64142, 58/15092, 30/8668, 55/9645, 21/9254, 5/2671 , 8/2058])
# mylabels = ["Caucasian", "African American", "I'd rather not answer", "Not Hispanic or Latino", "Latino or Hispanic", "Other", "Asian"]
# colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral', 'brown', 'orange', 'purple']
# patches, texts = plt.pie(slices, colors=colors, startangle=90)
# plt.legend(patches, mylabels, title = 'Ethnic Identity', loc="best")
# plt.axis('equal')
# plt.title("Category: Education (by Ethnic Identity)")
# plt.tight_layout()
# plt.show()

In [23]:
familyAndChildren = innerMerge[innerMerge.Category == "Family and Children"]
cols_to_show = ["Category", "County_x", "StateName_x", "EthnicIdentity", "Age", "Gender", "MaritalStatus", "AnnualIncome", "NumberInHousehold"]
familyAndChildren = familyAndChildren[cols_to_show]
familyAndChildren['count'] = 1
familyAndChildren.head()
familyAndChildren.to_csv("familyAndChildren.csv")

In [25]:
familyAndChildren.head()

,Category,County_x,StateName_x,EthnicIdentity,Age,Gender,MaritalStatus,AnnualIncome,NumberInHousehold,count
0,Family and Children,Yalobusha,Mississippi,Caucasian,NaN,Female,Married / remarried,20800.0,3.0,1
1,Family and Children,Harrison,Mississippi,Caucasian,NaN,Male,Married / remarried,28600.0,4.0,1
3,Family and Children,Lee,Mississippi,Not Hispanic or Latino,20.0,Female,Single,37500.0,4.0,1
6,Family and Children,Pontotoc,Mississippi,Not Hispanic or Latino,28.0,Female,Single,20000.0,2.0,1
8,Family and Children,Madison,Mississippi,I'd rather not answer,38.0,Female,Divorced,29000.0,2.0,1

In [24]:
housingAndHomelessness = innerMerge[innerMerge.Category == "Housing and Homelessness"]
cols_to_show = ["Category", "County_x", "StateName_x", "EthnicIdentity", "Age", "Gender", "MaritalStatus", "AnnualIncome", "NumberInHousehold"]
housingAndHomelessness = housingAndHomelessness[cols_to_show]
housingAndHomelessness['count'] = 1
housingAndHomelessness.head()
housingAndHomelessness.to_csv("housingAndHomelessness.csv")